# Python Basics
---------------------------

This notebook is just a primer for python. By no means this is exhaustive.

## 1) Data types

In [1]:
# example(s) with int data type

a = 2
type(a), a+1, float(a)

(int, 3, 2.0)

In [2]:
# example(s) with float data type

b =2.5
type(b), b+1, int(b)

(float, 3.5, 2)

In [3]:
# example(s) with list data type

c = [2, 3, 4]
d = [10, 'a', 2.0]
c+d, c*2

([2, 3, 4, 10, 'a', 2.0], [2, 3, 4, 2, 3, 4])

In [4]:
c.append(100)
c, c[2]

([2, 3, 4, 100], 4)

In [5]:
c[2] = 1000
c

[2, 3, 1000, 100]

In [6]:
e_1 = [1, 2, 3, [1.0, 2.0, 10.0]]
e_2 = [1, 2, 3, [1.0, 2.0, 10.0]]
e_1.append(d)
e_2.extend(d)
e_1, e_2

([1, 2, 3, [1.0, 2.0, 10.0], [10, 'a', 2.0]],
 [1, 2, 3, [1.0, 2.0, 10.0], 10, 'a', 2.0])

In [7]:
# example(s) with dict data type

ant_coeffs = {}

ant_coeffs.update({"Ethanol": (16.8958, 3795.17, -42.232)})
ant_coeffs.update({"Methanol": (16.5785, 3638.27, -33.650)})
ant_coeffs.update({"Water": (16.3872, 3885.70, -42.980)})

ant_coeffs.keys(), ant_coeffs["Ethanol"], ant_coeffs.values()

(dict_keys(['Ethanol', 'Methanol', 'Water']),
 (16.8958, 3795.17, -42.232),
 dict_values([(16.8958, 3795.17, -42.232), (16.5785, 3638.27, -33.65), (16.3872, 3885.7, -42.98)]))

In [8]:
ant_coeffs.items()

dict_items([('Ethanol', (16.8958, 3795.17, -42.232)), ('Methanol', (16.5785, 3638.27, -33.65)), ('Water', (16.3872, 3885.7, -42.98))])

In [9]:
# example(s) with tuple data type

type(ant_coeffs["Ethanol"])

tuple

In [10]:
a = (1, 2, 3)
a[-1]

3

In [11]:
a[-1] = 5 # tuple is immutable i.e. you can't edit the elements

TypeError: 'tuple' object does not support item assignment

In [14]:
# example(s) with set data type

a = {-1, 2, 0}
b = set([-1, 2, 0, 2, 0])
c = {'a', 1, 2}
type(a), type(b), a, b, c, a.union(c)

(set, set, {-1, 0, 2}, {-1, 0, 2}, {1, 2, 'a'}, {-1, 0, 1, 2, 'a'})

In [15]:
a1 = {-1, 2, 0}
a1.update(c)
a1

{-1, 0, 1, 2, 'a'}

## 2) Conditional statements

In [16]:
# example(s) with if & else

a = 2

if a%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [17]:
# example(s) with if, elif & else

b = 2.5

if type(b) is int:
    print("Int")
elif type(b) is float:
    print("Float")
elif type(b) is list:
    print("List")
else:
    print("Neither int, float and list")

Float

## 3) Loops

In [18]:
# example(s) with for loop

for i in range(-3, 5):
    print(i)

-3
-2
-1
0
1
2
3
4

In [19]:
for i, value in enumerate(range(-3, 5)):
    print(i, value)

0 -3
1 -2
2 -1
3 0
4 1
5 2
6 3
7 4

## 4) Functions

In [20]:
# example(s) with the return statement

def even_odd(num):
    if num%2 == 0:
        return "Even"
    else:
        return "Odd"
    
print(even_odd(2))
print(even_odd(3))

Even
Odd